*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.tag-list{
    width: 30rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    overflow: hidden;
}
.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}
.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 5rem;
    box-shadow: 
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 1.5rem #00000066;
    cursor: pointer;
}
.tag span{
    font-size: 1.2rem;
    color: #64748b;
}
.fade{
    position: absolute;
    inset: 0;
    pointer-events: none;
}
@keyframes loop {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}